div {
    width: 70%;
    margin: auto;
}

h2 {
    color: rgb(102, 16, 43);
}



bhf img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

bhf p {
    width: 70px;
    text-align: justify;
    margin-right: 30px;
    font-size: medium;
    line-height: 22px;
    padding: 5px;
}