div {
    width: 70%;
    margin: auto;
}
.bhf img {
    margin-left: -50px;
}

.bhf {
    .bhf-vision {
        margin-top: -200px;
        margin-left: 250px;
    }
    
    .bhf-bhf {
        margin-left: 250px;
    }
    
    .bhf-providing {
        margin-left: 250px;
    }
}

.value img {
    margin-top: 70px;
    margin-left: 470px;
}
.value {
    .value-value {
        margin-top: -200px;
        margin-left: 250px;
    }

    .value-point {
        margin-left: -50px;
        margin-block-end: 80px;
    }
}

.mission img {
    margin-top: -6px;
    margin-left: -50px;
}

.mission {
    .mission-mission {
        margin-top: -200px;
        margin-left: 250px;
    }
    
    .mission-help {
        margin-top: 20px;
        margin-left: 250px;
    }
}

.horizon-scroll {
    width: 100%;
    overflow-x: scroll;
    scroll-margin-top: 2%;
}

.lippies {
    display: flex;
    width: max-content;
    gap: 1rem;
}

.ambassador {
    background-image: url(/img/pink-gradient.jpg);
    margin: 2%;
    width: 50%;
}

.ambassador-form {
    margin: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.cushion-ul ul {
    list-style-type: square;
}